
<div class="myButton">
    <button (click)="show('get')">Get</button>
    <button (click)="show('update')">Update</button>
    <button (click)="show('delete')">Delete</button>
</div>

<div *ngIf="displayAction === 'get'">
    <h1>Users</h1>
    <div class="user-details"*ngFor="let user of users"> 
        <span> Id: {{user.id}} </span>
        <span> TeamId: {{user.teamId}} </span>
        <span> FirstName: {{user.firstName}} </span>
        <span> LastName: {{user.lastName}} </span>
        <span> email: {{user.email}} </span>
        <span> RegisteredAt: {{user.registeredAt | myDateFormat}} </span>
        <span> BirthDay: {{user.birthDay | myDateFormat}} </span>
    </div>
</div>

<form id="updateForm" *ngIf="displayAction === 'update'" #updateForm="ngForm">
    <h1>Update user</h1>
    <div class="group">
        <label>Id</label>
        <div style="display: flex;">
            <input type="number" 
                    min="1" [max]="users.length"
                    style="width: 90px;"
                    required 
                    [(ngModel)]="updateUser.id" name="id" #id="ngModel">
            <div class="myButton" style="margin-left: 10px;">
                <button (click)="loadUser()">Load User</button>
            </div>
        </div>
    </div>
    <div class="group">
        <label>Team Id</label>
        <input type="number" 
                min="1" max="999999"
                style="width: 90px;"
                [(ngModel)]="updateUser.teamId" name="teamId" #id="ngModel">
    </div>
    <div class="group"> 
        <label>First Name</label>
        <div class="float-left-container">
            <input type="text" 
                    required minlength="3"
                    [(ngModel)]="updateUser.firstName" name="firstName" #firstName="ngModel">
            <span class="focus-border"><i></i></span>
        </div>

        <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert">
            <div *ngIf="firstName.errors?.required">
                FirstName is required.
            </div>
            <div *ngIf="firstName.errors?.minlength">
                FirstName must be at least 3 characters long
            </div>
        </div>
    </div>
    <div class="group"> 
        <label>Last Name</label>
        <div class="float-left-container">
            <input type="text" 
                    required minlength="4"
                    [(ngModel)]="updateUser.lastName" name="lastName" #lastName="ngModel">
            <span class="focus-border"><i></i></span>
        </div>

        <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert">
            <div *ngIf="lastName.errors?.required">
                LastName is required.
            </div>
            <div *ngIf="lastName.errors?.minlength">
                LastName must be at least 4 characters long
            </div>
        </div>
    </div>
    <div class="group"> 
        <label>email</label>
        <div class="float-left-container">
            <input type="text" 
                    required email
                    [(ngModel)]="updateUser.email" name="email" #email="ngModel">
            <span class="focus-border"><i></i></span>
        </div>

        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert">
            <div *ngIf="email.errors?.required">
                email is required.
            </div>
            <div *ngIf="email.errors?.email">
                Invalid email
            </div>
        </div>
    </div>
    <div class="group"> 
        <label>RegisteredAt</label>
        <input type="date"
                required
                name="registeredAt"
                [ngModel]="updateUser.registeredAt | date:'yyyy-MM-dd'" 
                (ngModelChange)="updateUser.registeredAt = $event"
                #registeredAt="ngModel">
    </div>
    <div class="group"> 
        <label>
            BirthDay
        </label>
        <input type="date"
                required
                name="birthDay"
                [ngModel]="updateUser.birthDay | date:'yyyy-MM-dd'" 
                (ngModelChange)="updateUser.birthDay = $event"
                #birthDay="ngModel">
    </div>
    <div class="group myButton">
        <button id="updateButton" (click)="putUser()" [disabled]="updateForm.invalid">Update User</button>
    </div>
</form>

<form class="deletePage" *ngIf="displayAction === 'delete'">
    <h1>Delete User</h1>
    <label>Id</label>
    <div style="display: flex; flex-direction: column;">
        <input type="number"
                min="1" [max]="users.length"
                style="width: 90px;"
                [(ngModel)]="deleteId" name="delete">
        <div class="deleteButton" style="margin-top: 10px;">
            <button (click)="deleteUser()">Delete User</button>
        </div>
    </div>
</form>
