
<nav>
    <ul>
      <li><a routerLink="/projects" routerLinkActive="active">Projects Form</a></li>
      <li><a routerLink="/users" routerLinkActive="active">Users Form</a></li>
      <li><a routerLink="/tasks" routerLinkActive="active">Tasks Form</a></li>
      <li><a routerLink="/teams" routerLinkActive="active">Teams Form</a></li>
    </ul>
</nav>
<router-outlet></router-outlet>
