<div class="myButton">
    <button (click)="show('get')">Get</button>
    <button (click)="show('update')">Update</button>
    <button (click)="show('delete')">Delete</button>
</div>

<div *ngIf="displayAction === 'get'">
    <h1>Teams</h1>
    <div class="team-details"*ngFor="let team of teams"> 
        <span> Id: {{team.id}} </span>
        <span> Name: {{team.name}} </span>
        <span> CreatedAt: {{team.createdAt | myDateFormat}} </span>
    </div>
</div>

<form id="updateForm" *ngIf="displayAction === 'update'" #updateForm="ngForm">
    <h1>Update team</h1>
    <div class="group">
        <label>Id</label>
        <div style="display: flex;">
            <input type="number" 
                    min="1" [max]="teams.length"
                    style="width: 90px;"
                    required 
                    [(ngModel)]="updateTeam.id" name="id" #id="ngModel">
            <div class="myButton" style="margin-left: 10px;">
                <button (click)="loadTeam()">Load Team</button>
            </div>
        </div>
    </div>
    <div class="group"> 
        <label>Name</label>
        <div class="float-left-container">
            <input type="text" 
                    required minlength="3"
                    [(ngModel)]="updateTeam.name" name="name" #name="ngModel">
            <span class="focus-border"><i></i></span>
        </div>

        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert">
            <div *ngIf="name.errors?.required">
                Name is required.
            </div>
            <div *ngIf="name.errors?.minlength">
                Name must be at least 3 characters long
            </div>
        </div>
    </div>
    <div class="group"> 
        <label>CreatedAt</label>
        <input type="date"
                required
                name="createdAt"
                [ngModel]="updateTeam.createdAt | date:'yyyy-MM-dd'" 
                (ngModelChange)="updateTeam.createdAt = $event"
                #createdAt="ngModel">
    </div>
    <div class="group myButton">
        <button id="updateButton" (click)="putTeam()" [disabled]="updateForm.invalid">Update Team</button>
    </div>
</form>

<form class="deletePage" *ngIf="displayAction === 'delete'">
    <h1>Delete Team</h1>
    <label>Id</label>
    <div style="display: flex; flex-direction: column;">
        <input type="number"
                min="1" [max]="teams.length"
                style="width: 90px;"
                [(ngModel)]="deleteId" name="delete">
        <div class="deleteButton" style="margin-top: 10px;">
            <button (click)="deleteTeam()">Delete Team</button>
        </div>
    </div>
</form>
