:focus{outline: none;}

.project-details{
    display: flex; 
    flex-direction: column; 
    -webkit-border-radius: 6px;
    background-color: #ffec64;
    border: solid 1px #ffab23;
    border-radius: 6px;
    line-height: 18px;
    overflow: hidden;
    padding: 12px;
    margin-top: 20px;
    max-width: 300px;
}

.project-details:hover{
    box-shadow: 0 0 10px 10px rgba(0,0,0,0.06);
    background-color: lighten(#f0f7fb, 100%);
    cursor: pointer;
}

.myButton button{
	box-shadow:inset 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
    margin-right: 10px;
}
.myButton button:not(#updateButton[disabled]):hover {
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color:#ffab23;
}
.myButton button:active {
	position:relative;
	top:1px;
}

#updateForm{
	max-width: 300px;
}

#updateForm label{
	font-weight: bold;
}

#updateForm input{
	width: 100%;
}

#updateForm input, textarea{
	padding: 0.25em 0.5em;
	background-color: #fff;
	border: 2px solid #8b8a8b;
	border-radius: 4px;
	transition: 180ms box-shadow ease-in-out;
}

#updateForm input:focus, textarea:focus {
	border-color: hsl(53, 100%, 40%);
	box-shadow: 0 0 0 3px hsla(53, 100%, 80%, 0.8);
	outline: 3px solid transparent;
  }

#updateForm input[type="date"]{
	max-width: 200px;
}

#updateForm textarea{
	max-width: 200px;
}

#updateButton:disabled{
	opacity: 0.7;
}

.group{
	display: flex;
	flex-direction: column;
	margin-top: 10px;
}

.alert{
	color: red;
}

.float-left-container{
	float: left;
	position: relative;
	max-width: 150px;
}

.deletePage label{
	font-weight: bold;
}

.deletePage input{
	padding: 0.25em 0.5em;
	background-color: #fff;
	border: 2px solid #8b8a8b;
	border-radius: 4px;
	transition: 180ms box-shadow ease-in-out;
}

.deletePage input:focus{
	border-color: hsl(0, 100%, 43%);
	box-shadow: 0 0 0 3px hsla(0, 100%, 80%, 0.8);
	outline: 3px solid transparent;
  }

.deleteButton button{
	display: inline-block;
	padding: 15px 25px;
	font-size: 24px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color: red;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
}

.deleteButton button:active{
	background-color: rgb(209, 2, 2);
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}