
<div class="myButton">
    <button (click)="show('get')">Get</button>
    <button (click)="show('update')">Update</button>
    <button (click)="show('delete')">Delete</button>
</div>

<div *ngIf="displayAction === 'get'">
    <h1>Projects</h1>
    <div class="project-details"*ngFor="let project of projects"> 
        <span> Id: {{project.id}} </span>
        <span> AuthorId: {{project.authorId}} </span>
        <span> TeamId: {{project.teamId}} </span>
        <span> Name: {{project.name}} </span>
        <span> Description: {{project.description}} </span>
        <span> CreatedAt: {{project.createdAt | myDateFormat}} </span>
        <span> Deadline: {{project.deadline | myDateFormat}} </span>
    </div>
</div>

<form id="updateForm" *ngIf="displayAction === 'update'" #updateForm="ngForm">
    <h1>Update project</h1>
    <div class="group">
        <label>Id</label>
        <div style="display: flex;">
            <input type="number" 
                    min="1" [max]="projects.length"
                    style="width: 90px;"
                    required 
                    [(ngModel)]="updateProject.id" name="id" #id="ngModel">
            <div class="myButton" style="margin-left: 10px;">
                <button (click)="loadProject()">Load Project</button>
            </div>
        </div>
    </div>
    <div class="group">
        <label>Author Id</label>
        <input type="number"
                min="1" max="999999"
                style="width: 90px;"
                required 
                [(ngModel)]="updateProject.authorId" name="authorId" #id="ngModel">
    </div>
    <div class="group">
        <label>Team Id</label>
        <input type="number" 
                min="1" max="999999"
                style="width: 90px;"
                required 
                [(ngModel)]="updateProject.teamId" name="teamId" #id="ngModel">
    </div>
    <div class="group"> 
        <label>Name</label>
        <div class="float-left-container">
            <input type="text" 
                    required minlength="4"
                    [(ngModel)]="updateProject.name" name="name" #name="ngModel">
            <span class="focus-border"><i></i></span>
        </div>


        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert">
            <div *ngIf="name.errors?.required">
                Name is required.
            </div>
            <div *ngIf="name.errors?.minlength">
                Name must be at least 4 characters long
            </div>
        </div>
    </div>
    <div class="group"> 
        <label>Description</label>
        <textarea [(ngModel)]="updateProject.description" name="description" #description="ngModel">{{updateProject.description}}</textarea>
    </div>
    <div class="group"> 
        <label>CreatedAt</label>
        <input type="date"
                required
                name="createdAt"
                [ngModel]="updateProject.createdAt | date:'yyyy-MM-dd'" 
                (ngModelChange)="updateProject.createdAt = $event"
                #createdAt="ngModel">
    </div>
    <div class="group"> 
        <label>Deadline</label>
        <input type="date"
                required
                name="deadline"
                [ngModel]="updateProject.deadline | date:'yyyy-MM-dd'" 
                (ngModelChange)="updateProject.deadline = $event"
                #deadline="ngModel">
    </div>
    <div class="group myButton">
        <button id="updateButton" (click)="putProject()" [disabled]="updateForm.invalid">Update Project</button>
    </div>
</form>

<form class="deletePage" *ngIf="displayAction === 'delete'">
    <h1>Delete Project</h1>
    <label>Id</label>
    <div style="display: flex; flex-direction: column;">
        <input type="number"
                min="1" [max]="projects.length"
                style="width: 90px;"
                [(ngModel)]="deleteId" name="delete">
        <div class="deleteButton" style="margin-top: 10px;">
            <button (click)="deleteProject()">Delete Project</button>
        </div>
    </div>
</form>
