
<div class="myButton">
    <button (click)="show('get')">Get</button>
    <button (click)="show('update')">Update</button>
    <button (click)="show('delete')">Delete</button>
</div>

<div *ngIf="displayAction === 'get'">
    <h1>Tasks</h1>
    <div class="task-details"*ngFor="let task of tasks" [appTaskState]="task.state"> 
        <span> Id: {{task.id}} </span>
        <span> ProjectId: {{task.projectId}} </span>
        <span> PerformerId: {{task.performerId}} </span>
        <span> Name: {{task.name}} </span>
        <span> Description: {{task.description}} </span>
        <span > State: {{task.state}} </span>
        <span> CreatedAt: {{task.createdAt | myDateFormat}} </span>
        <span> FinishedAt: {{task.finishedAt | myDateFormat}} </span>
    </div>
</div>

<form id="updateForm" *ngIf="displayAction === 'update'" #updateForm="ngForm">
    <h1>Update task</h1>
    <div class="group">
        <label>Id</label>
        <div style="display: flex;">
            <input type="number" 
                    min="1" [max]="tasks.length"
                    style="width: 90px;"
                    required 
                    [(ngModel)]="updateTask.id" name="id" #id="ngModel">
            <div class="myButton" style="margin-left: 10px;">
                <button (click)="loadTask()">Load Task</button>
            </div>
        </div>
    </div>
    <div class="group">
        <label>Project Id</label>
        <input type="number"
                min="1" max="999999"
                style="width: 90px;"
                required 
                [(ngModel)]="updateTask.projectId" name="projectId" #id="ngModel">
    </div>
    <div class="group">
        <label>Performer Id</label>
        <input type="number" 
                min="1" max="999999"
                style="width: 90px;"
                required 
                [(ngModel)]="updateTask.performerId" name="performerId" #id="ngModel">
    </div>
    <div class="group"> 
        <label>Name</label>
        <div class="float-left-container">
            <input type="text" 
                    required minlength="3"
                    [(ngModel)]="updateTask.name" name="name" #name="ngModel">
            <span class="focus-border"><i></i></span>
        </div>


        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert">
            <div *ngIf="name.errors?.required">
                Name is required.
            </div>
            <div *ngIf="name.errors?.minlength">
                Name must be at least 3 characters long
            </div>
        </div>
    </div>
    <div class="group"> 
        <label>Description</label>
        <textarea [(ngModel)]="updateTask.description" name="description" #description="ngModel">{{updateTask.description}}</textarea>
    </div>
    <div class="group">
        <label>State</label>
        <div style="display: flex;">
            <input type="number" 
                    min="1" max="4"
                    style="width: 90px;"
                    required 
                    [(ngModel)]="updateTask.state" name="state" #State="ngModel">
        </div>
    </div>
    <div class="group"> 
        <label>CreatedAt</label>
        <input type="date"
                required
                name="createdAt"
                [ngModel]="updateTask.createdAt | date:'yyyy-MM-dd'" 
                (ngModelChange)="updateTask.createdAt = $event"
                #createdAt="ngModel">
    </div>
    <div class="group"> 
        <label>FinishedAt</label>
        <input type="date"
                required
                name="finishedAt"
                [ngModel]="updateTask.finishedAt | date:'yyyy-MM-dd'" 
                (ngModelChange)="updateTask.finishedAt = $event"
                #deadline="ngModel">
    </div>
    <div class="group myButton">
        <button id="updateButton" (click)="putTask()" [disabled]="updateForm.invalid">Update Task</button>
    </div>
</form>

<form id="deleteForm" *ngIf="displayAction === 'delete'">
    <h1>Delete Task</h1>
    <label>Id</label>
    <div style="display: flex; flex-direction: column;">
        <input type="number"
                min="1" [max]="tasks.length"
                style="width: 90px;"
                [(ngModel)]="deleteId" name="delete">
        <div class="deleteButton" style="margin-top: 10px;">
            <button (click)="deleteTask()">Delete Task</button>
        </div>
    </div>
</form>
